body {
    font-family: Cambria, serif;
    background-color: lightcyan;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
select {
    font-family: Cambria, serif;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus,
select:focus {
    border-color: #007bff;
    outline: none;
}

button {
    font-family: Cambria, serif;
    background-color: purple;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: darkmagenta;
}

select {
    font-family: Cambria, serif;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
    font-size: 16px;
    -webkit-appearance: none; /* Remove default dropdown arrow in some browsers */
    -moz-appearance: none;
    appearance: none;
}

select:focus {
    border-color: #007bff;
    outline: none;
}
